<%= form_with(model: @label, local: true) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-2 text-right">
        <%= f.label :name %>
      </div>
      <div class="col-md-10">
        <%= f.text_field :name, { class: "form-control" }%>
      </div> 
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= f.submit nil, { class: "btn btn-info" } %>
      </div>
    </div>
  </div>
<% end %>