<h1><%= I18n.t("display.show") %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-2 text-right">
      <%= I18n.t("activerecord.attributes.user.name") %>
    </div>
    <div class="col-md-10">
      <%= @user.name %>
    </div>
  </div>
</div>







